*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;

}
.button{
    width: 80px;
    border: 0px;
    border-radius: 20px;
}

.button:hover{
  color: white;
  background-color: rgb(0, 149, 255);
  cursor: pointer;
}